body, html {
    font-family: sans-serif;
    overflow: visible;
    padding: 20px;
}

#measurement-tbl {
    color: black;
    width: 100%;
    border-spacing: 0;
}

#measurement-tbl > thead {
    text-align: center;
    font-weight: bold;
    background-color: #14b33b;
    color: white;
}

td {
    padding: 10px;
}

#measurement-tbl tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

#measurement-tbl tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

/* Add Border Rounded For children */

#measurement-tbl > tbody > tr > td {
    text-align: center;
    margin: auto;
}

canvas {
    height: 60% !important;
    margin: auto !important;
    width: auto !important;
}